<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:form>
    <div class="card">
        <p:dataTable var="product" value="#{dtBasicView.products}">
            <p:column headerText="Code">
                <h:outputText value="#{product.code}" />
            </p:column>

            <p:column headerText="Name">
                <h:outputText value="#{product.name}" />
            </p:column>

            <p:column headerText="Category">
                <h:outputText value="#{product.category}" />
            </p:column>

            <p:column headerText="Quantity">
                <h:outputText value="#{product.quantity}" />
            </p:column>
        </p:dataTable>
    </div>
</h:form>
</html>