<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:form>
    <div class="card">
        <p:dataTable var="data" value="#{MsisdnView.msisdnLst}">
            <p:column headerText="ID">
                <h:outputText value="#{data.id}" />
            </p:column>

            <p:column headerText="SĐT">
                <h:outputText value="#{data.msisdn}" />
            </p:column>
        </p:dataTable>
    </div>
</h:form>
</html>